BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "led_0" SITE=Y20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_1" SITE=AA21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_2" SITE=U18 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_3" SITE=U19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_4" SITE=W19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_5" SITE=V19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_6" SITE=AB20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_7" SITE=AA20 IO_TYPE=LVCMOS33 ;
