BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "led_0" SITE=Y20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_1" SITE=AA21 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_2" SITE=U18 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_3" SITE=U19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_4" SITE=W19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_5" SITE=V19 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_6" SITE=AB20 IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_7" SITE=AA20 IO_TYPE=LVCMOS33 ;
LOCATE COMP "switch_0" SITE "J7" ;
LOCATE COMP "switch_1" SITE "J6" ;
LOCATE COMP "switch_2" SITE "H2" ;
LOCATE COMP "switch_3" SITE "H3" ;
LOCATE COMP "switch_4" SITE "J3" ;
LOCATE COMP "switch_5" SITE "K3" ;
LOCATE COMP "switch_6" SITE "J2" ;
LOCATE COMP "switch_7" SITE "J1" ;
